<div class="listings-header">
  <p class="list-item-header-content">
    <strong>Showing
      <span class="idxcount"></span>
      of
      <span class="total"></span>
    </strong>

  </p>
</div>
<ul class="listings-list"></ul>
