<div class="new-listing-backdrop"></div>

<div class="new-listing-form-container">
	<center><h4>Add New Listing</h4></center>
	<form class="form new-listing">
		<div class="form group">
			<label>Title:</label>
			<input type="text"
					 	 class="form-control"
					 	 name="listing[title]">
		</div>

		<div class="form-group">
			<label>Description</label>
			<textarea class="form-control description"
								name="listing[about]"
								id="description"></textarea>
		</div>

		<div class="form-group">
			<label>Address</label>
			<input type="text"
						 class="form-control address"
					 	 name="listing[address]">
		</div>

		<div class="form-group">
			<select class="form-control" name="listing[category]" id="category">
				<option disabled selected>Select Listing Type</option>
				<option value=1>Job</option>
				<option value=2>Startup</option>
				<option value=3>Event</option>
				<option value=4>Workspace</option>
				<option value=5>Company</option>
			</select>
		</div>

		<div class="new-listing-img-upload clearfix">
			<input type="hidden"
						 name="listing[img_url]"
						 id="listing-img_url">
			<a href="javascript:void(0)" class="img-upload">Upload an image..</a>
			<div class="listing-img-goes-here pull-right">
				<img src="assets/site-logoblack.png" class="list-img" />
			</div>
		</div>

		<div class="form-group">
			<label>Website</label>
			<input type="text"
						 class="form-control"
					 	 name="listing[website]"
						 placeholder="www.example.com">
		</div>
		<div class="new-listing-submit-button disabled">Submit
			<span> > </span>
		</div>
	</form>
</div>
