<a class="listing-info-link" href="#/listings/<%= listing.get('id') %>">
  <div class="listing-info">
    <img class="listing-info-img" src="<%= listing.get('img_url') %>">
    <p><strong><%= listing.get('title') %></strong></p>
    <p><%= listing.get('about').substr(0,120) + '...' %></p>
  </div>
</a>
