<%= render partial: "./layouts/banner" %>
<div class="new-user-form">
  <%= render partial: "./layouts/errors" %>
  <form action="<%= users_url %>" method="POST">
    <%= csrf_token %>
      <input type="text"
             name="user[username]"
             id="username"
             placeholder="username">

      <input type="password"
             name="user[password]"
             id="password"
             placeholder="password">
             
    <input type="submit" class="btn btn-primary" value="Create User">
  </form>
</div>
