<div class="filterbar-tile category startups col-xs-2" data-id=2 draggable="true">
	<div class="tile-content">
		<span class="glyphicon glyphicon-check startups"></span>
			Startups
  	<span class="num-startups count"></span>
	</div>
</div>
<div class="filterbar-tile category jobs col-xs-2" data-id=1 draggable="true">
	<div class="tile-content">
		<span class="glyphicon glyphicon-check jobs"></span>
			Jobs
  	<span class="num-jobs count"></span>
	</div>
</div>
<div class="filterbar-tile category workspaces col-xs-2" data-id=4 draggable="true">
	<div class="tile-content">
		<span class="glyphicon glyphicon-check workspaces"></span>
			Workspaces
  	<span class="num-workspaces count"></span>
	</div>
</div>
<div class="filterbar-tile category companies col-xs-2" data-id=5 draggable="true">
	<div class="tile-content">
		<span class="glyphicon glyphicon-check companies"></span>
			Companies
  	<span class="num-companies count"></span>
	</div>
</div>
<div class="filterbar-tile category events col-xs-2" data-id=3 draggable="true">
	<div class="tile-content">
		<span class="glyphicon glyphicon-check events"></span>
			Events
  	<span class="num-events count"></span>
	</div>
</div>
<div class="filterbar-tile new-listing-tile col-xs-2">
	<div class="tile-content">
		<a href="javascript:void(0)" class="new">New Listing</a>
	</div>
</div>
