<div class="banner-logo">
  <img src="assets/<%= window.LOGOSRC %>" />
</div>
<div class="banner-search">
  <div class="banner-search-slogan">
    <h1>SF's Hub for Tech and Startups</h1>
  </div>
  <form class="banner-input">
    <div class="banner-input-placeholder">
      Find <strong>Startups</strong>, <strong>Investors</strong> and more...
    </div>
    <input type="text" class="banner-input-field">
    <span class="banner-search-button glyphicon glyphicon-search"></span>
  </form>
</div>
