<div class="banner-logo">
  <a class="logo" href="#"></a>
</div>
<div class="banner-search">
  <div class="banner-search-slogan">
    <h1>SF's Hub for Tech and Startups</h1>
  </div>
  <form class="banner-input">
    <div class="banner-input-placeholder">
      Find <strong>Startups</strong>, <strong>Investors</strong> and more...
    </div>
    <input type="text" class="banner-input-field">
    <input type="button" class="search-button" value="Search">
  </form>
</div>
