<div id="searchbar"></div>

<div id="content" class="col-xs-10 col-xs-offset-1"></div>

<div id="sign-out">
  Sign Out
    <div class="vdivider"></div>
    <span class="glyphicon glyphicon-log-out"></span>
</div>

<div id="footer">
  <%= render "./layouts/footer" %>
</div>

<script>
  $(document).ready(function () {
    DigiSFere.initialize();
    DigiSFere.signout();

    var time = new Date(),
        hour = time.getHours(),
        banner = document.getElementById('searchbar'),
        css;
    if (hour < 7 || hour > 18) {
      css = 'background-image: url("assets/pm-bannersm.jpg")';
    } else {
      css = 'background-image: url("assets/am-bannersm.jpg")';
    }
    banner.setAttribute('style', css);
  });
</script>
