<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div id="searchbar"></div>
  <div id="content"></div>
</body>
</html>

<script>
  $(document).ready(function () {
    DigiSFere.initialize()
  });
</script>
