.listings-header {
  height: 32px;
  width: 100%;
}

ul.listings-list {
  font-family: 'Josefin Sans', serif;
  list-style: none;
  padding-right: 40px;
}

.listing-logo {
  float: left;
  display: inline-block;
  height: 45px;
  padding: 5px;
  margin-right: 15px;
  border-radius: 4px;
}

.list-item {
  position: relative;
  padding-bottom: 10px;
}

.listing-item-view:hover {
  cursor: pointer;
  background-color: #eef;
  border-bottom: 1px solid #aaa;
}

.listing-item-view {
  padding-top: 15px;
  border-bottom: 1px solid #eee;
}

.listing-item-info {
  font-size: 16px;
}

.listing-item-info strong {
  display: block;
  font-size: 10px;
}

.category-title {
  float: left;
  display: block;
  clear: right;
}

.JOB img.listing-logo {
  background-color: #5297ff;
}

.STARTUP img.listing-logo {
  background-color: #e74848;
}

.COMPANY img.listing-logo {
  background-color: #ffe663;
}

.WORKSPACE img.listing-logo {
  background-color: #79faa1;
}

.EVENT img.listing-logo {
  background-color: #c481ff;
}
