#content {
  position: absolute;
  top:200px;
  width: 1200px;
  height: 860px;
  left: 50%;
  margin-left: -600px;
  background: #fff;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2),
              -2px 2px 6px 1px rgba(0, 0, 0, 0.2);;
}

.results-container {
  height: 800px;
}

.content-view {
  height: 100%;
}

.listingsindex {
  width: 34%;
  height: 100%;
  left: 0;
  display: inline-block;
}

.map {
  width: 66%;
  float: right;
  height: 100%;
  display: inline-block;
}
