#searchbar {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
  left:0;
  font-family: 'Josefin Sans', serif;
  text-shadow: 0 1px 1px #000;
  z-index: 10;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position: center;

}

.searchbar-view {
  position: absolute;
  top: 0;
  margin-left: -600px;
  width: 1200px;
  left: 50%;
  height: 100%;
}

.banner-search-slogan h1 {
  font-size: 46px;
}

.banner-logo {
  width: 233px;
  height: 100%;
  margin: 0 auto;
  float: left;
  display: inline;
}

.banner-search {
  float: right;
  padding-top: 50px;
  color: white;
  text-shadow: 0px 2px 1px black;
}

.banner-input {
  position: relative;
}

.banner-input-field {
  font-size: 1.3em;
  width: 320px;
  padding: 4px;
  color: black;
}

.banner-input-placeholder {
  position: absolute;
  text-shadow: none;
  padding: 8px 0px 6px 12px;
  font-size: 1.3em;
  width: 321px;
  z-index: 10;
  color: black;
  cursor: text;
}

.glyphicon.banner-search-button {
  position: absolute;
  font-size: 1.5em;
  cursor: pointer;
  padding-left: 10px;
  padding-top: 7px;
  text-shadow: 0 2px 1px black;
}
