<div class="foot-el col-xs-12">
  <div class="hzbar"></div>
  <div class="fcontent-container col-xs-8 col-xs-offset-2">
    <div class="flogo col-xs-2">
      <img class="flogo-img" src="/assets/site-logowhite.png"/>
    </div>
    <div class="fcontent-main col-xs-4 col-xs-offset-1">
      <a href="https://www.github.com/frescoraja">
        <img class="linkbadge" src="/assets/octocat.png" />
      </a>
      <a href="http://www.linkedin.com/in/djcomputer">
        <img class="linkbadge" src="/assets/linkedinrnd.png" />
      </a>
      <p>
        <span class="copyright">
          DigiSFere © 2015. All rights reserved.
        </span>
        <span class="nyc">
          Inspired by <a href="http://www.digital.nyc">Digital.nyc</a>
        </span>
      </p>
    </div>
    <div class="col-xs-2 pull-right">
      <img class="madeinca" src="/assets/madeinca.jpg" />
    </div>
  </div>
</div>
